.content
  %h1
    =link_to "Geocerca 2015", root_path
  %p HISTORIAL DE UBICACIÓN DE LA BICICLETA

  %p Últimos 40 registros


  %table.pure-table.pure-table-striped.pure-table-horizontal
    %thead
    %tr
      %th FECHA
      %th LATITUD Y
      %th LONGITUD X
      %th ESTADO
      %th NRO BICI
    %tbody
      - @items.last(40).reverse.each do |row|
        %tr
          %td= row.created_at.in_time_zone("Santiago").to_s(:long)
          %td= row.latitude
          %td= row.longitude
          %td= row.state
          %td= row.bike
