.content
  %h1 Geocerca 2015
  %p HISTORIAL DE UBICACIÓN DE LA BICICLETA

  %p Últimos 40 registros


  %table.pure-table.pure-table-striped.pure-table-horizontal
    %thead
    %tr
      %th FECHA
      %th LATITUD Y
      %th LONGITUD X
      %th ESTADO
      %th NRO BICI
    %tbody
      - @items.each do |row|
        %tr
          %td= row.created_at
          %td= row.latitude
          %td= row.longitude
          %td= row.state
          %td= row.bike
